# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.sqlite3

# Virtual Environment
venv/
env/
ENV/

# Logs
*.log

# Static files
/static/

# Media files
/media/

# Compiled Python bytecode
*.pyc

# macOS
.DS_Store

# Temporary files
*.swp
*.swo

# Environment variables
.env