<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Raul Mogollon{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'showcase/css/base.css' %}">

    {% block contentstyles %}
    <!-- content styles -->
    {% endblock %}
</head>

<body>
    <header>
        <img src="{% static 'showcase/images/raul_mogollon.jpeg' %}" alt="raul mogollon">
        <section>
            <h1>Raul Mogollon</h1>
            <p>
                Systems Engineer with experience in web development, using technologies such as React, Python,
                HTML, JavaScript, CSS, and PHP with Magento2. Additionally, I have knowledge in creating and consuming
                RESTful APIs in various programming languages. I apply both Backend and Frontend development roles
                using SCRUM methodologies. Furthermore, I have a B2 level of competence in English,
                which means I speak the language fluently.
            </p>
        </section>
    </header>

    <section class="work-experience">
        <h1>Work Experience</h1>
        <p>
            <strong>OMNI.PRO:</strong> As a Systems Engineer, I worked as a Backend Developer, responsible for
            creating web-based e-commerce systems for the company's various clients. I used programming
            languages such as PHP, along with technologies like Magento2 and GIT & GITHUB. Additionally, I implemented
            a REST API architecture using MySQL. Furthermore, I performed website maintenance, using
            JavaScript and PHP to make modifications requested by clients, following the Agile SCRUM methodology.
        </p>
    </section>

    <main>
        {% block content %}
        <!-- content -->
        {% endblock %}
    </main>

    <section class="console-section">
        <h2>ls -l My skills/</h2>
        <ul>
            <li>drwxr-xr-x 4 raulm raulm 4096 English</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 Linux</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 PHP</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 Magento2</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 Python</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 Django</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 MySQL</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 React</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 React Native</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 Flutter</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 Angular</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 HTML5</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 CSS3</li>
            <li>drwxr-xr-x 4 raulm raulm 4096 JavaScript</li>
        </ul>
    </section>

    <footer>
        <a href="https://github.com/Berckbel" target="_blank">
            <img src="{% static 'showcase/images/github.png' %}" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/raul-mogollon-49a24a278/" target="_blank">
            <img src="{% static 'showcase/images/linkedin.png' %}" alt="linkedin">
        </a>
        <p id="berckbel-copyright">&copy; 202# Raul Mogollon</p>
    </footer>

    <script src="{% static 'showcase/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'showcase/js/showcase.js' %}"></script>
</body>

</html>