{% extends 'showcase/layout/base.html' %}

{% load static %}

{% block contentstyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'showcase/css/projects.css' %}">
{% endblock %}

{% block content %}
<div class="title-projects">
    <h1>Projects</h1>
</div>
<section class="projects-container">
    <div class="project-card">
        <h2>Berckbel Blog</h2>
        <img src="{% static 'showcase/images/bloghome.png' %}" alt="blog image">
        <p>
            This is my personal blog, which I created for people to share their opinions on various topics.
        </p>
        <h3>Technologies</h3>
        <ul>
            <li>Django</li>
            <li>JWT</li>
            <li>REST API</li>
            <li>React</li>
            <li>TypeScript</li>
            <li>Tailwind</li>
            <li>PostgreSQL</li>
            <li>Git and GitHub</li>
            <li>Linux</li>
            <li>Nginx</li>
        </ul>
        <a href="https://berckbelblog.berckbel.com" target="_blank">View the app</a>
    </div>
    <div class="project-card">
        <h2>URL Shortener</h2>
        <img src="{% static 'showcase/images/url_shortener.png' %}" alt="taskmanager image">
        <p>
            This is my url shortener that helps people to share big urls.
        </p>
        <h3>Technologies</h3>
        <ul>
            <li>Django</li>
            <li>PostgreSQL</li>
            <li>Git and GitHub</li>
            <li>Linux</li>
            <li>Nginx</li>
        </ul>
        <a href="https://www.berckbel.com/urlshortener" target="_blank">View the app</a>
    </div>
    <div class="project-card">
        <h2>Task Manager</h2>
        <img src="{% static 'showcase/images/taskmanager.png' %}" alt="taskmanager image">
        <p>
            This is my task management app, which I created to help people manage their tasks in an organized way.
        </p>
        <h3>Technologies</h3>
        <ul>
            <li>Django</li>
            <li>JWT</li>
            <li>REST API</li>
            <li>React</li>
            <li>Tailwind</li>
            <li>PostgreSQL</li>
            <li>Git and GitHub</li>
            <li>Linux</li>
            <li>Nginx</li>
        </ul>
        <a href="https://taskmanager.berckbel.com" target="_blank">View the app</a>
    </div>
    <div class="project-card">
        <h2>PokeDex</h2>
        <img src="{% static 'showcase/images/pokedex.png' %}" alt="pokedex image">
        <p>
            This is my mobile app, which clones a PokeDex and includes the game "Who's That Pokemon?"
        </p>
        <h3>Technologies</h3>
        <ul>
            <li>REST API</li>
            <li>React Native</li>
            <li>Git and GitHub</li>
            <li>Linux</li>
            <li>Expo</li>
        </ul>
        <a href="{% static 'showcase/apk/MogoDex.apk' %}" download>Download link</a>
    </div>
    <div class="project-card">
        <h2>Pokemon Web</h2>
        <img src="{% static 'showcase/images/webpokemon.png' %}" alt="pokedex image">
        <p>
            This is my Pokemon web app, which I created for fun. It uses the PokeAPI to list Pokémon and view their stats. The app looks great!
        </p>
        <h3>Technologies</h3>
        <ul>
            <li>REST API</li>
            <li>JavaScript</li>
            <li>CSS</li>
            <li>jQuery</li>
            <li>Linux</li>
            <li>Git and GitHub</li>
        </ul>
        <a href="https://berckbel.github.io/web-pokemon/" target="_blank">View the app</a>
    </div>
</section>
{% endblock %}