.title-projects {
    border: black solid 2px;
    border-radius: 45px;
    background-color: white;
    padding-inline: 10px;
    margin: 20px;
    max-width: fit-content;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.title-projects h1 {
    text-decoration: underline;
}


.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 45px;
    max-width: 450px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.project-card a {
    margin-left: 20px;
    background-color: blueviolet;
    padding: 7px;
    max-width: fit-content;
    border-radius: 45px;
    text-decoration: none;
    color: white;
}

.project-card a:hover {
    background-color: rgb(73, 24, 120);
}

.project-card h2,
h3 {
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: underline;
}

.project-card img {
    max-width: 450px;
    min-width: 450px;

    max-height: 250px;
    min-height: 250px;

    border-radius: 25px;
}

.project-card p {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}

.project-card ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
}

.project-card li {
    margin-right: 50px;
    list-style: circle;
}