{% extends 'urlshortener/layout/base.html' %}

{% load static %}

{% block contentstyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'urlshortener/css/create.css' %}">
{% endblock %}

{% block content %}
<section class="create-section">
    <form action="{% url 'urlshortener:create' %}" method="post">
        {% csrf_token %}
        <label for="original_url">
            Insert your Url here
        </label>
        <input type="text" name="original_url" id="original_url">
        {% if error_msg %}
            <p><strong style="color: red; margin: 20px;" >{{ error_msg }}</strong></p>
        {% endif %}
        <button type="submit">Generate</button>
    </form>
</section>
{% endblock %}