{% extends 'urlshortener/layout/base.html' %}

{% load static %}

{% block contentstyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'urlshortener/css/create.css' %}">
{% endblock %}

{% block content %}
<section class="create-section">
    <form action="{% url 'urlshortener:create' %}" method="post">
        {% csrf_token %}
        <label for="original_url">
            Insert your Url here
        </label>
        <input type="text" name="original_url" id="original_url">
        {% if error_msg %}
            <p><strong style="color: red; margin: 20px;" >{{ error_msg }}</strong></p>
        {% endif %}
        <button type="submit">Generate</button>
    </form>
</section>
<section class="create-list-section">
    {% if shorts|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Short</th>
                    <th>Domain</th>
                </tr>
            </thead>
            <tbody>
                {% for short in shorts %}
                    <tr>
                        <td>
                            <a href="{{ short.url_hash }}">{{ short.hash }}</a>
                        </td>
                        <td>
                            <span>{{ short.origin }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {% if shorts_page.has_previous %}
                <a href="?page={{ shorts_page.previous_page_number }}">&laquo;</a>
            {% endif %}
            <span>{{ shorts_page.number }}</span>
            {% if shorts_page.has_next %}
                <a href="?page={{ shorts_page.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
</section>
{% endblock %}